@import "tailwindcss";
@keyframes firefly {
  0% {
    transform: translate(0, 0) scale(0.6);
    opacity: 0;
  }
  20% {
    opacity: 0.6;
  }
  50% {
    transform: translate(30px, -50px) scale(1);
    opacity: 0.9;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-20px, -100px) scale(0.4);
    opacity: 0;
  }
}

.animate-firefly {
  animation: firefly linear infinite;
};


